<!-- First page, your photo and title -->
<div class="bb-item animated rollIn">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="card-box">
          <div class="row">
            <div class="col-xs-12">
              <div class="header-text text-center">
                <div class="avatar"></div>
                <h2>Nguyễn Phước Đại</h2>
                <p>I'm Web Developer</p>
                <div class="social-links header-links">
                  <ul>
                    <li>
                      <a href="https://www.facebook.com/profile.php?id=100008264388885" target="_blank">
                        <i class="fa fa-facebook facebook"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <!--/row-->
          <div class="row">
            <div class="col-md-6 col-md-offset-1">
              <div class="introduce">
                <h2 class="title">Personal Details</h2>
                <p>Hi, I’m Nguyen Dai residing in this beautiful world. I am a graduate student at Can Tho University . I can
                  create websites with great UX and UI design, I am trying to learn more native react to design mobile app.
                  I have done work with Sacombank company. Meet me or Contact me for any queries.</p>
              </div>
            </div>
            <div class="col-md-5 col-xs-12">
              <div class="presonal-inform">
                <ul class="list-unstyled">
                  <li class="clearfix">
                    <i class="pe-7s-user"></i>
                    <b>Name:</b> Nguyễn Phước Đại</li>
                  <li class="clearfix">
                    <i class="pe-7s-phone"></i>
                    <b>Phone:</b> (0933) - 588 295</li>
                  <li class="clearfix" class="clearfix">
                    <i class="pe-7s-mail"></i>
                    <b>Email:</b> nguyenphuocdai1995@gmail.com</li>
                  <li class="clearfix">
                    <i class="pe-7s-gift"></i>
                    <b>Date of Birth:</b> 26 September 1995</li>
                  <li class="clearfix">
                    <i class="pe-7s-map-marker"></i>
                    <b>Address:</b> Hoang Quoc Viet Street, District 7, Tp.Hcm</li>
                  <li class="clearfix">
                    <i class="pe-7s-note2"></i>
                    <b>Languages:</b> English, Vietnamese</li>
                </ul>
              </div>
            </div>
          </div>
          <!--/row-->
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /First page -->
