

            <!-- contact -->
            <div class="bb-item animated rollIn">
              <div class="bb-custom-side" id="portfolio">

                  <div class="container">
                      <div class="row">
                          <div class="col-sm-12">
                              <div class="card-box">
                                  <div class="row">
                                      <div class="col-md-12">
                                          <div class="section-title">
                                              <h2>contact me</h2>
                                              <div class="title-border"></div>
                                          </div>
                                      </div>
                                  </div>
                                  <!--/row-->
                                  <div class="row">
                                      <div class="col-md-12 col-xs-12">
                                          <!-- START contect -->
                                          <div class="contact-form">
                                              <form id="contact-form" method="post">
                                                  <div class="row">
                                                      <div class="form-group col-md-4">
                                                          <input type="text" name="name" class="form-control" id="first-name" placeholder="Name" required="required">
                                                      </div>
                                                      <div class="form-group col-md-4">
                                                          <input type="email" name="email" class="form-control" id="email" placeholder="Email" required="required">
                                                      </div>
                                                      <div class="form-group col-md-4">
                                                          <input type="text" name="name" class="form-control" id="contect" placeholder="Phone Contect" required="required">
                                                      </div>

                                                      <div class="form-group col-md-12">
                                                          <textarea rows="6" name="message" class="form-control" id="description" placeholder="Your Message" required="required"></textarea>
                                                      </div>
                                                      <div class="form-group col-md-12 text-center">
                                                          <div class="actions">
                                                              <input type="submit" value="Submit now" name="submit" id="submitButton" class="btn btn-custom" title="Submit Your Message!">
                                                          </div>
                                                      </div>
                                                  </div>
                                              </form>
                                          </div>
                                      </div>
                                  </div>
                                  <!--end row-->
                                  <div class="row">
                                      <div class="col-sm-12 text-center">
                                          <div class="social-links header-links footer-p-t-20">
                                              <ul>
                                                  <li>
                                                      <a href="#">
                                                          <i class="fa fa-facebook facebook"></i>
                                                      </a>
                                                  </li>
                                                  <li>
                                                      <a href="#">
                                                          <i class="fa fa-twitter twitter"></i>
                                                      </a>
                                                  </li>
                                                  <li>
                                                      <a href="#">
                                                          <i class="fa fa-google-plus google-plus"></i>
                                                      </a>
                                                  </li>
                                                  <li>
                                                      <a href="#">
                                                          <i class="fa fa-dribbble dribbble"></i>
                                                      </a>
                                                  </li>
                                              </ul>
                                          </div>
                                          <p class="copyright">© 2017. Design By Mannat-Themes</p>
                                      </div>
                                  </div>
                                  <!--/row-->
                              </div>
                          </div>
                      </div>
                  </div>

              </div>
          </div>
          <!--/page-6-->
          <!--/contact-->