<!-- skill -->

<div class="bb-item animated rollIn">
    <div class="bb-custom-side">

        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card-box">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="section-title">
                                    <h2>skills</h2>
                                    <div class="title-border"></div>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                        <br>Lorem Ipsum is simply dummy text.</p>
                                </div>
                            </div>
                        </div>
                        <!--/row-->
                        <div class="row text-center">
                            <div class="col-sm-3">
                                <div class="skill">
                                    <circle-progress
                                    [percent]="85"
                                    [radius]="100"
                                    [outerStrokeWidth]="16"
                                    [innerStrokeWidth]="8"
                                    [outerStrokeColor]="'#78C000'"
                                    [innerStrokeColor]="'#C7E596'"
                                    [animation]="true"
                                    [animationDuration]="300"
                                  ></circle-progress>
                                    <h4>Creativity</h4>
                                    <i class="pe-7s-cloud-download"></i>
                                </div>
                            </div>

                            <div class="col-sm-3">
                                <div class="skill">
                                        <circle-progress
                                        [percent]="85"
                                        [radius]="100"
                                        [outerStrokeWidth]="16"
                                        [innerStrokeWidth]="8"
                                        [outerStrokeColor]="'#78C000'"
                                        [innerStrokeColor]="'#C7E596'"
                                        [animation]="true"
                                        [animationDuration]="300"
                                      ></circle-progress>
                                    <h4>Wordpress</h4>
                                    <i class="pe-7s-umbrella"></i>
                                </div>
                            </div>

                            <div class="col-sm-3">
                                <div class="skill">
                                        <circle-progress
                                        [percent]="85"
                                        [radius]="100"
                                        [outerStrokeWidth]="16"
                                        [innerStrokeWidth]="8"
                                        [outerStrokeColor]="'#78C000'"
                                        [innerStrokeColor]="'#C7E596'"
                                        [animation]="true"
                                        [animationDuration]="300"
                                      ></circle-progress>
                                    <h4>Design</h4>
                                    <i class="pe-7s-like"></i>
                                </div>
                            </div>

                            <div class="col-sm-3">
                                <div class="skill">
                                        <circle-progress
                                        [percent]="85"
                                        [radius]="100"
                                        [outerStrokeWidth]="16"
                                        [innerStrokeWidth]="8"
                                        [outerStrokeColor]="'#26a69a'"
                                        [innerStrokeColor]="'#26a69a'"
                                        [animation]="true"
                                        [animationDuration]="300"
                                      ></circle-progress>
                                    <h4>Coding</h4>
                                    <i class="pe-7s-cup"></i>
                                </div>
                            </div>
                        </div>
                        <!--/row -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/page-2-->
<!-- /skill -->